In [1]:
# https://www.pythonforbeginners.com/python-on-the-web/web-scraping-with-beautifulsoup
from bs4 import BeautifulSoup
import requests
import pandas as pd


# put this in a function
url = 'https://www.whosdatedwho.com/dating/miley-cyrus'
r  = requests.get(url)

data = r.text

soup = BeautifulSoup(data)

['/Users/monicamow/Documents/Projects/whos_dated_who', '/Users/monicamow/opt/anaconda3/lib/python37.zip', '/Users/monicamow/opt/anaconda3/lib/python3.7', '/Users/monicamow/opt/anaconda3/lib/python3.7/lib-dynload', '', '/Users/monicamow/.local/lib/python3.7/site-packages', '/Users/monicamow/opt/anaconda3/lib/python3.7/site-packages', '/Users/monicamow/opt/anaconda3/lib/python3.7/site-packages/aeosa', '/Users/monicamow/opt/anaconda3/lib/python3.7/site-packages/IPython/extensions', '/Users/monicamow/.ipython']

ModuleNotFoundError: No module named 'bs4'

In [27]:
# https://pythonprogramminglanguage.com/web-scraping-with-pandas-and-beautifulsoup/
html_table = soup.find("div", {"id": "ff-dating-history-table"}).find('table')

In [24]:
df_table = pd.read_html(str(html_table))[0]

In [25]:
df_table

,#,Partner,Type,Unnamed: 3,Start,End,Length,Unnamed: 7
0,20,Cody Simpson,Relationship,NaN,Sep 2019,present,3 months,NaN
1,19,Kaitlyn Carter,Encounter,NaN,Aug 2019,Sep 2019,1 month,NaN
2,18,Stella Maxwell,Relationship,NaN,Jun 2015,Oct 2015,4 months,NaN
3,17,Patrick Schwarzenegger,Relationship,NaN,Nov 2014,Apr 2015,5 months,NaN
4,16,Douglas Booth,Encounter,NaN,Aug 2014,Aug 2014,-,NaN
5,15,Jared Leto,Encounter,R,Feb 2014,Feb 2014,-,NaN
6,14,Brooke Candy,Encounter,NaN,Feb 2014,Mar 2014,< 1 month,NaN
7,13,Kellan Lutz,Encounter,NaN,Nov 2013,Dec 2013,1 month,NaN
8,12,Benji Madden,Encounter,NaN,31st Oct 2013,31st Oct 2013,-,NaN
9,11,Cara Delevingne,Encounter,NaN,2013,2015,2 years,NaN
10,10,Mike Will Made It,Encounter,NaN,2013,2014,1 year,NaN
11,9,Justin Bieber,Encounter,R,2012,2012,-,NaN
12,8,Avan Jogia,Encounter,NaN,Nov 2010,Dec 2010,1 month,NaN
13,7,Adam Sevani,Encounter,NaN,Aug 2010,Aug 2010,-,NaN
14,6,Liam Hemsworth,Married,NaN,Jun 2009,Aug 2019,10 years,NaN
15,5,Justin Gaston,Relationship,NaN,Jul 2008,Apr 2009,9 months,NaN
16,4,Thomas Sturges,Relationship,NaN,Jan 2008,May 2008,4 months,NaN
17,3,Nick Jonas,Relationship,NaN,11th Jun 2006,Jul 2009,3 years,NaN
18,2,Dylan Sprouse,Relationship,NaN,Mar 2006,Jun 2006,3 months,NaN
19,1,Tyler Posey,Relationship,NaN,2001,2001,-,NaN

In [26]:
df_table.rename(columns ={'Unnamed: 3': 'Rumored'}, inplace =True)
df_table.drop(columns ={'Unnamed: 7'}, inplace=True)
df_table

,#,Partner,Type,Rumored,Start,End,Length
0,20,Cody Simpson,Relationship,NaN,Sep 2019,present,3 months
1,19,Kaitlyn Carter,Encounter,NaN,Aug 2019,Sep 2019,1 month
2,18,Stella Maxwell,Relationship,NaN,Jun 2015,Oct 2015,4 months
3,17,Patrick Schwarzenegger,Relationship,NaN,Nov 2014,Apr 2015,5 months
4,16,Douglas Booth,Encounter,NaN,Aug 2014,Aug 2014,-
5,15,Jared Leto,Encounter,R,Feb 2014,Feb 2014,-
6,14,Brooke Candy,Encounter,NaN,Feb 2014,Mar 2014,< 1 month
7,13,Kellan Lutz,Encounter,NaN,Nov 2013,Dec 2013,1 month
8,12,Benji Madden,Encounter,NaN,31st Oct 2013,31st Oct 2013,-
9,11,Cara Delevingne,Encounter,NaN,2013,2015,2 years
10,10,Mike Will Made It,Encounter,NaN,2013,2014,1 year
11,9,Justin Bieber,Encounter,R,2012,2012,-
12,8,Avan Jogia,Encounter,NaN,Nov 2010,Dec 2010,1 month
13,7,Adam Sevani,Encounter,NaN,Aug 2010,Aug 2010,-
14,6,Liam Hemsworth,Married,NaN,Jun 2009,Aug 2019,10 years
15,5,Justin Gaston,Relationship,NaN,Jul 2008,Apr 2009,9 months
16,4,Thomas Sturges,Relationship,NaN,Jan 2008,May 2008,4 months
17,3,Nick Jonas,Relationship,NaN,11th Jun 2006,Jul 2009,3 years
18,2,Dylan Sprouse,Relationship,NaN,Mar 2006,Jun 2006,3 months
19,1,Tyler Posey,Relationship,NaN,2001,2001,-